body {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 0;
    padding: 0;
}

header {
    margin-bottom: 35px;
    display: block;
    background: -webkit-gradient(linear, right top, left bottom, from(rgb(46, 69, 96)), to(rgb(30, 45, 62))) fixed;
    color: whitesmoke;
    padding: 50px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);


}


.item-container {
    display: grid;
    margin-bottom: 10px;
    gap: 35px;
    justify-content: center;

}

.project-item {
    display: flex;
    align-items: center;
    border: 1px solid rgb(159, 159, 162);
    padding: 15px;
    margin: 0 auto;
    max-width: 1200px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
    width: 100%;

}

.project-item:hover {
    transform: translateY(-0.25em);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
    transition: 0.2s ease-in-out;
}

.project-thumbnail {
    margin-right: 20px;
    object-fit: contain;

}

.project-thumbnail img {
    width: 400px;
    height: 300px;
}


.project-item h3,
.project-item h4,
.project-item p {
    margin: 0;
    padding-bottom: 15px;

}

.project-item a {
font-size: x-large;
padding-bottom: 15px;

}

.project-item a:any-link{
    color: rgb(59, 59, 59);
    text-decoration: none;
}

.project-item h4 {
font-size: medium;
color: grey;
}

.project-item p {
color: rgb(120, 120, 120);
}

.contact-me img {
    max-width: 20px;
    max-height: 20px;
    padding-right: 10px;
    
}

.contact-me > section {
    display: flex;
}